<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GaragePRO</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/GaragePRO.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
<nav class="navbar bg-transparent border-0">
  <div class="container-fluid">
    <button class="navbar-toggler ms-auto text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex flex-column gap-2">
          <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          <a class="btn btn-success" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
          <a class="btn btn-success" asp-area="" asp-controller="Mechanic" asp-action="Index">Mechanics</a>
          <a class="btn btn-success" asp-area="" asp-controller="WorkOrder" asp-action="Index">Work Orders</a>
          <a class="btn btn-success" asp-area="" asp-controller="Invoice" asp-action="Index">Invoices</a>
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>