@model GaragePRO.Models.PartUsed

@{
    ViewBag.Title = "Edit Parts Used";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-header">
        <h4>Edit Part Used</h4>
        <form asp-action="Edit" method="post" class="mt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="CreatedAt"/>
            <input type="hidden" asp-for="WorkOrderId"/>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="PartCatalogId"></label>
                    <select asp-for="PartCatalogId" asp-items="ViewBag.PartCatalogs" class="form-control">
                        <option value="">-- Select Part --</option>
                    </select>
                    <span asp-validation-for="PartCatalogId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label>Quantity</label>
                    <input asp-for="Quantity" class="form-control"/>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-3">
            <button type="submit" class="btn btn-outline-primary w-25">Add</button>
            <a class="btn btn-outline-dark w-25" asp-action="Details" asp-controller="WorkOrder"
               asp-route-id="@Model.WorkOrderId">Cancel</a>
            </div>
        </form>

        @section Scripts {
            <partial name="_ValidationScriptsPartial"/>
        }
    </div>
</div>