@model GaragePRO.Models.Vehicle

@{
    ViewBag.Title = "Vehicles";
    Layout = "_Layout";
}
<form asp-action="Create" method="post" class="mt-4">
    <input type="hidden" asp-for="customerId" />
    <div class="row mb-3">
        <div class="col-md-6">
            <input asp-for="make" class="form-control" placeholder="Make"/>
            <span asp-validation-for="make" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="model" class="form-control" placeholder="Model"/>
            <span asp-validation-for="model" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <input asp-for="year" class="form-control" placeholder="Year"/>
            <span asp-validation-for="year" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="VIN" class="form-control" placeholder="VIN"/>
            <span asp-validation-for="VIN" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <input asp-for="mileage" class="form-control" placeholder="Mileage"/>
            <span asp-validation-for="mileage" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-outline-primary">Create</button>
</form>