@model GaragePRO.Models.Vehicle

@{
    ViewBag.Title = "Edit Vehicle Details";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        <h4>Edit Vehicle Details</h4>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" class="mt-4">
            <input type="hidden" asp-for="CustomerId" />
            <input type="hidden" asp-for="Id" />

            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Make">Make</label>
                            <input asp-for="Make" class="form-control" placeholder="Make"/>
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Model">Model</label>
                            <input asp-for="Model" class="form-control" placeholder="Model"/>
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Year">Year</label>
                            <input asp-for="Year" class="form-control" placeholder="Year"/>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="VIN">VIN</label>
                            <input asp-for="VIN" class="form-control" placeholder="VIN"/>
                            <span asp-validation-for="VIN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label asp-for="Mileage">Mileage</label>
                            <input asp-for="Mileage" class="form-control" placeholder="Mileage"/>
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center gap-3">
                        <button type="submit" class="btn btn-outline-primary w-25">Confirm edit</button>
                        <a class="btn btn-outline-dark w-25" asp-action="Details" asp-controller="Customer"
                           asp-route-id="@Model.CustomerId">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}