html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.offcanvas {
  --bs-offcanvas-width: 250px;
}

.badge-status-paid {
  background-color: #28a745; /* green */
  color: white;
}
.badge-status-unpaid {
  background-color: #dc3545; /* red */
  color: white;
}
.badge-status-archived {
  background-color: #6c757d; /* gray */
  color: white;
}
.badge-status-scheduled {
  background-color: #007bff; /* blue */
  color: white;
}
.badge-status-inprogress {
  background-color: #ffc107; /* yellow-orange */
  color: #343a40; /* dark text for contrast */
}
.badge-status-completed {
  background-color: #17a2b8; /* teal/info */
  color: white;
}
.badge-status-cancelled {
  background-color: #6f42c1; /* purple */
  color: white;
}